NODE_ENV=development
PORT=5000

# MongoDB
MONGO_URI=mongodb+srv://your_username:your_password@your_cluster.mongodb.net/ecommefy?retryWrites=true&w=majority

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d

# Cookie
COOKIE_EXPIRE=7

# Client URL
CLIENT_URL=http://localhost:5173
